* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}
.App {
  text-align: center;
   background-image: url("./images/Lines-PNG-Transparent-Background.png"); 
   margin-bottom: 10px;
}
 .App-intro {
  font-size: large;
  padding: 20px;
  color: rgb(57, 57, 177);
}
.score {
  color:green;
  font-weight: bolder;

}
